
div.article, div.welcome {
    padding-top: 0px !important;
}

.cell-margin {
    margin-top: 0px !important;
}

#searchform {
    margin-top: 0px !important;
}

.the-table{
    margin-top: 0px !important;
}

.pull-left-search{
    float:left;
    margin-right: 5px;
    margin-top: 30px
}

.pull-left-add{
    float:left;
    margin-left: 5px;
    margin-top: 30px;

}